body {
  font-family: sans-serif;
  margin: 1em;
  background-color: hsl(43, 88%, 97%);
  color: #444
}

.controller {
  display: inline-block;
  cursor: pointer;
  padding: 1em;
  border-radius: 2px;
}

.controller:hover {
  background-color: grey;
}

span.connected {
  color: green;
  font-weight: bold;
}

span.disconnected {
  color: grey;
}

#connected, #monitors {
  border-style: dotted;
  border-width: 2px;
  padding-left: 1em;
  margin-bottom: 1em;
  width: 850px;
}

signal-monitor {
  display: inline-block;
}

.signal-label {
  margin-bottom: 0;
}

button {
}

#calibrate-status {
  font-style: italic;
  font-size: 10pt;
}